.filter-box {
    min-width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
}

.filter-row {
    width: 100%;
}

.f-title {
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.check-row {
    margin: 0.3rem;
    margin-left: 1rem;
}

.f-divider {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.search-filters {
    margin-left: 0.5rem;
    border-radius: 50%;
    background-color: var(--bs-primary);
    border: none;
    color: var(--bs-light);
}

.search-filters-input {
    max-height: 30px;
    border-radius: 8px;
}

.btn-checked {
    background-color: var(--bs-primary);
}

.check-style {
    height: 1rem;
    width: 1rem;
    border: 1px solid gray;
}